@import "tailwindcss";

@theme {
  --color-neutral-*: initial;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .animate-dash {
    stroke-dashoffset: 1000;
    animation: dash 30s linear infinite;
  }
  .animate-dash-reverse {
    stroke-dashoffset: -1000;
    animation: dash-reverse 30s linear infinite;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-reverse {
  to {
    stroke-dashoffset: 0;
  }
}
